@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Login</h1>
<form asp-action="Login" method="post">
    <div class="text-light" asp-validation-summary="All"></div>
   
    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />
 

    <div class="wthree-text">
        <label class="anim">
            <input type="checkbox"  asp-for="RememberMe"/>
            <span>Keep Me Sign In </span>
        </label>
        <div class="clear"></div>
    </div>

    <input type="submit" value="Login" class="btn btn-light " />

</form>
<partial class="text-white">Do Not  Have an Account?<a asp-action="Login"> Login Now!</a>""</p>
    <p class="text-white">
        <a asp-action="ForgetPassword"> Forget Password!</a>
    </p>