@model DepartmentDto
@* @{
    ViewDate["Title"] = "Update";
} *@
<h1>Update Department</h1>
<br />
<br />


<from asp-action="Update">
    @* asp-controller="Department" *@


    <div class="from-group">
        <label class="col-form-lable" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="from-control" />

          <span asp-validation-for="Code" class="text-danger"></span> 
        <br />
    </div>
    <div class="from-group">
        <label class="col-form-lable" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="from-control" />

          <span asp-validation-for="Name" class="text-danger"></span>

        <br />
    </div>
    
    @* @Html.ValidationSummary(true, "DepartmentErrors", "Error while Adding Departent"); *@
    <br />

    <input type="Submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</from>


